body, html {
  width: 100%;
  height: 100%;
}

/* Used to add bubble and parallel coordinate chart in the same page */
#parallel {
  flex: 1;
  height: 50%;
  width: 100%;
  margin: 0px auto;
  display: block;
}

#bubble {
  flex: 1;
  height: 50%;
  width: 100%;
}

#vis1 {
  flex: 1;
  height: 50%;
  width: 100%;
}

#calendar {
  flex: 1;
  height: 50%;
  width: 100%;
}

/* Control the bursh opacity*/
.fade {
  opacity: .2;
}

/* Tooltip for the bubble chart*/
.bubtooltip {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    overflow-x: visible;
    overflow-y: visible;
    background-color: black;
    color: white;
}

/* Tooltip for the parallel coordinate chart */
.partooltip {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    overflow-x: visible;
    overflow-y: visible;
    background-color: black;
    color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 15px;
  border: 1px solid #888;
  width: 500px;
}

.modal-content .title {
  font-size: 1.25rem;
  font-weight: bold;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.dayLabel {
  fill:"black";
  font-size:0.8em;
}

.monthLabel {
  text-anchor:middle;
  font-size:0.8em;
  fill: "black";
}

.yearLabel  {
  fill:"black";
  font-size:1.2em;
}

.key    {font-size:0.5em;}

nav {
  margin-top: 2em;
}

footer ul, #prototypes {
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline;
  margin: 0 .5em;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: inherit;
  border-top: .1em solid #d5d5d5;
  padding: .75em 0;
  height: 4em;
  background-color: white;
}

#prototypes {
  margin-bottom: 5em;
}

#prototypes li {
  margin: 2em 0;
}

.section {
  margin: 3em 0;
}

.section:first-child, #prototypes li:first-child {
  margin-top: 0;
}

.section:last-child, #prototypes li:last-child  {
  margin-bottom: 0;
}

.section h3 {
  margin-bottom: 1em;
}

.subsection {
  margin-bottom: 2em;
}

.bio {
  margin-bottom: 2.5em;
}

#prototypes {
  margin-bottom: 5em;
}

.img-circle {
  margin-top: -.25em;
}

.biopic {
  width: 100px;
  height: 100px;
}

.radar-chart {
  width: 300px;
  width: 300px;
}

#dashboard {
  width: 1024px;
  height: 768px;
}

#map {
  width: 600px;
}

#reserved {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: .1em dashed #777;
  padding: .75em;
  text-align: center;
}

img#avatar {
  height: 100px;
  width: 100px;
  float: right;
}

div#author {
  padding: .5em 0;
}

ul#links {
  padding: 0;
  list-style-type: none;
}

ul#links li {
  display: inline;
  margin: 0 1em;
}

ul#links li:first-child {
  margin-left: 0;
}

ul#links li:last-child {
  margin-right: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.stop-left {
  stop-color: #17becf;
}

.stop-right {
  stop-color: #e377c2;
}

.plane-active {
  stroke: DarkGray !important;
  stroke-width: 85 !important;
}

.text-dom {
  fill: #17becf;
}

.text-intl {
  fill: #e377c2;
}

.map-active {
  stroke: red !important;
  stroke-width: 2 !important;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
